/* style.css */

.dashboard-container {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 1000px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
    color: white;
}

.dashboard-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('/welcome-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin-top: 80px;
    color: white;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.page-title {
    color: black;
    text-align: center;
}

.ineligible-text{
    color: black;
    text-align: center;
}

.ineligible-text_2{
    color: white;
    text-align: center;
}

.date-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; /* space between input and text */
    margin-bottom: 15px;
}

.date-wrapper input[type="date"] {
    flex: 1;
}

.date-hint {
    font-size: 12px;
    color: white;
    white-space: nowrap;
}

.view-btn {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.view-btn:hover {
    background-color: #0056b3;
}

.bug-card {
    background-color: rgba(0, 0, 0, 0.8); /* semi-transparent dark card */
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.logout-button:hover {
    background-color: #a71d2a;
}

.profile-button {
    background-color: greenyellow;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.profile-button:hover {
    background-color: green;
}