<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Message Details</title>
</head>

<div class="dashboard-container">
    <h1 style="color: white;">All Support Requests</h1>

    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="logout-button">Logout</button>
    </form>



</div>


<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>

<div class="message-box">
<h2>Message Details</h2>
<p><strong>Sender Name:</strong> <span th:text="${message.senderName}"></span></p>
<p><strong>Sender Email:</strong> <span th:text="${message.senderEmail}"></span></p>
<p><strong>Sent At:</strong> <span th:text="${#dates.format(message.sentAt, 'dd/MM/yyyy HH:mm')}"></span></p>
<p><strong>Message:</strong></p>
<p th:text="${message.message}"></p>
</div>

<a href="/overseer/messages" class="back-button">Back to Messages</a>

</body>
</html>
